{% extends '_baseAdmin.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Member Publication Change Page
{% endblock %}

{# ----------------------------------------#}
{% block homeNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}



    <fieldset>
        <legend>{{ message }}</legend>

        <form
                method="post"
                action="/changeStudentDetailsAdmin" enctype="multipart/form-data"
        >


            <p>
                Project Name:
                <br>
                <input type="text" name="name" required value="{{ studentRow.name }}">
            </p>
            <p>
                Project Id:
                <br>
                <input type="text" name="projectId" required value="{{  studentRow.projectId }}">
            </p>
            <p>
                Member Id:
                <br>
                <input type="text" name="memberId" required value="{{  studentRow.memberId }}">
            </p>

               Project Status:
                <br>
                <input type="text" name="status" required value="{{  studentRow.status }}">
            </p>
            <p>
                Please change picture:
                <br>
                <input type="file" name="image">
            </p>



            <p>
                <input type="submit" value="Change">
            </p>

        </form>
    </fieldset>





{% endblock %}
